
p {
  font-weight: 600;
  font-size: 18px;
  margin: 12px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  font-size: 15px;
}


thead th {
  background: #2c2f36;
  color: #fff;
  padding: 10px;
  text-align: center;
  border: 1px solid #444;
}

tbody tr td[colspan="5"] {
  background: #f3f4f6;
  font-weight: 700;
  padding: 8px 10px;
  border: 1px solid #ccc;
}


tbody td {
  padding: 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
}


tbody td:nth-child(4) {
  text-align: center;
  font-weight: 600;
}

tbody td:last-child {
  width: 160px;
  text-align: center;
}

tbody img {
  width: 120px;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ddd;
}

tbody tr:hover td {
  background: #f9fafb;
}
